#mainMenu{
    -fx-background-image:url("images/mainMenu/menu_back.png");
    -fx-background-size: cover, auto;
}

#settingsMenu{
    -fx-background-image:url("images/mainMenu/settings_back.png");
    -fx-background-size: cover;
}

#rankingView{
    -fx-background-image:url("images/mainMenu/settings_back.png");
    -fx-background-size: cover;
}

#gameOverView{
    -fx-background-color: black;
}